@page "/catDetail/{id:int}"
@inject CategoryServ categoryServ
<PageTitle>CategoryDetails</PageTitle>
<h3>CategoryDetails</h3>
<div class="card">
    <div class="card-body">
        <h4 class="card-title">@category?.Name</h4>
        
        <a href="/category/edit/@id" class="card-link">Edit</a>
        <a href="/catList" class="card-link">Another link</a>
    </div>
</div>
@code {
    [Parameter]
    public int id { get; set; }
    public Category category { get; set; }
    protected override void OnInitialized()
    {
        category = categoryServ.getById(id);
        base.OnInitialized();
    }

}
